.card-field {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: darkslategrey;
    color: white;
    border-radius: 3px;
}


.card-title {
    font-size: 18px; 
    border-bottom: 2px white solid;
    width: 100%;
}